.SplashScreenContainer{
  width: 100vw;
  height: 100vh;
  background-image: url(../../../resources/splash.png);
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  animation-name: splash;
  animation-duration: 1s;
  opacity: 0;
}

@keyframes splash {
  0%{opacity:1}100%{opacity:0}
}
